* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    overflow: hidden;
}

.index {
    background-image: url('/images/golden-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.neon {
    color: white;
    font-size: 2.5rem;
    font-family: cursive;
    animation: shining 0.1s alternate infinite;
    padding-left: 20%;
    padding-right: 5%;
}

@keyframes shining {
    from {
        text-shadow: 0 0 6px rgba(218,165,32, 0.9),
        0 0 30px rgba(218,165,32, 0.3), 0 0 12px rgba(51, 69, 48, 0.5),
        0 0 21px rgba(51, 69, 48, 0.9), 0 0 34px rgba(51, 69, 48, 0.8),
        0 0 54px rgba(51, 69, 48, 0.9);
    }
    to {
        text-shadow: 0 0 6px rgba(218,165,32, 1),
        0 0 30px rgba(218,165,32, 0.4), 0 0 12px rgba(51, 69, 48, 0.6),
        0 0 22px rgba(51, 69, 48, 0.8), 0 0 38px rgba(51, 69, 48, 0.9),
        0 0 60px rgba(51, 69, 48, 1);
    }
}

.swipe {
    transition: all 0.5s ease;
}
.swipe:hover {
    background-color: gold;
}